<div class="d-flex justify-content-between mb-3">
    <h2>Accounts</h2>
    <a routerLink="add" class="btn btn-primary">Add Account</a>
</div>

<div *ngIf="loading" class="text-center">Loading...</div>

<table class="table table-striped" *ngIf="!loading">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{ account.id }}</td>
            <td>{{ account.firstName }} {{ account.lastName }}</td>
            <td>{{ account.email }}</td>
            <td>{{ account.role }}</td>
            <td>
                <a [routerLink]="['edit', account.id]" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deleteAccount(account.id)" class="btn btn-sm btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>